<div id ="createhome" class="panel panel-default">
	<div class="panel-heading">
		Share Your Wonderful Meal!
	</div>
	<div class="panel-body">
		<div class="container">
			
			<%= form_for @room, :html => { multipart: true } do |f| %>

				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
							<label>Meal Type</label>
							<%= f.select :home_type, [["Breakfast (9am-11am)","Breakfast (9am-11am)"], ["Lunch (12pm-3pm)","Lunch (12pm-3pm)"], ["Dinner (6pm-9pm)","Dinner (6pm-9pm)"]], id: "home_type", prompt: "Select...", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4 select">
						<div class="form-group">
							<label>Eat-In or Take-Out</label>
							<%= f.select :room_type, [["Eat-In","Eat-In"], ["Take-Out","Take-Out"], ["Local Delivery","Local Delivery"]],prompt: "Select...", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4 select">
						<div class="form-group">
							<label>Accommodate</label>
							<%= f.select :accommodate, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6+",6]], prompt: "Select...", class: "form-control" %>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
							<label>Meals Per Person</label>
							<%= f.select :bed_room, [["1",1], ["2",2], ["3",3], ["4+",4]], prompt: "Select...", class: "form-control" %>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="form-group">
						<label>Style of Meal</label>
						<%= f.text_field :listing_name, placeholder: "Be clear and descriptive", class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Meal Description</label>
						<%= f.text_area :summary, rows: 5, placeholder: "Tell about your house", class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Address</label>
						<%= f.text_field :address, placeholder: "What is your address?", class: "form-control" %>
					</div>
				</div>
	

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Meal Price</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<%= f.text_field :price, placeholder: "eg. $100", class: "form-control" %>
							</div>	
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">							
							<span class="btn btn-default btn-file">
							    <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
							    <%= f.file_field "image", type: :file, multiple: true %>
							</span>
						</div>		
					</div>
				</div>

				<div id="photos"><%= render 'photos/list' %></div>

				<div class="row">
					<div class="form-group">
						<%= f.check_box :active %> Active
					</div>
				</div>

				<div class="actions">
					<%= f.submit "Save", class: "btn btn-primary" %>
				</div>

			<% end %>

		</div>
	</div>
</div>